@font-face {
    font-family: "Gilroy";
    src: local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.woff2") format("woff2");
    src: local("Gilroy-UltraLight"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 420px;
    margin: 0 auto;
    padding: 50px 70px;
    background-image: url(../img/all.svg);
}

.container .psevdo-box {
    position: absolute;
    content: '';
    top: 64px;
    left: 85px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-color: #795ff6;
    z-index: 2;
}

.container .psevdo-timer {
    position: absolute;
    content: '';
    right: 65px;
    top: 55px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #795ff6;
    z-index: 2;
}

.container .psevdo-btn {
    position: absolute;
    right: 66px;
    bottom: 57px;
    content: '';
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #795ff6;
    z-index: 2;
}

.container .psevdo-input {
    position: absolute;
    content: '';
    right: 65px;
    top: 125px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #795ff6;
    z-index: 2;
}

.game-box {
    position: relative;
    display: grid;
    grid-gap: 5px;
    padding: 5px;
    width: 400px;
    height: 400px;
    /* grid-template: repeat(4, 1fr) / repeat(4, 1fr); */
    background-color: #fafafa;
    border-radius: 10px;
    z-index: 3;
}

.elem {
    position: relative;
    border: none;
    
    border-radius: 10px;
    cursor: pointer;
}


.img-set {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    opacity: 1;
    transition: opacity ease-in-out .2s;
}

/* .img-active {
    opacity: 0;
} */

.sett-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    z-index: 5;
}



.timer {
    position: relative;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    z-index: 5;
}

.timer-info {
    position: absolute;
    content: '';
    top: 8px;
    left: 14px;
    width: 97px;
    height: 30px;
    padding-top: 4px;
    padding-left: 25px;
    font-size: x-large;
    background-color: gray;
    border-radius: 10px;
}

.input-box {
    display: flex;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    background-color: #fafafa;
    border-radius: 10px;
    z-index: 5;
}

.input-btns {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.btn-up {
    padding: 0;
    margin-bottom: 10px;
    height: 20px;
    width: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-down {
    padding: 0;
    height: 20px;
    width: 24px;
    border: none;
    background: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.input {
    margin-left: 33px;
    margin-top: 4px;
    width: 30px;
    height: 40px;
    padding-left: 15px;
    border: none;
    border-radius: 10px;
    background-color: #00c3d9;
    color: #fafafa;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.btn-start {
    width: 150px;
    height: 50px;
    background-color: #fafafa;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-content {
    width: 125px;
    height: 29px;
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: #00c3d9;
    color: #fafafa;
    font-size: 20px;
    transition: .2s ease-in-out all;
    
}

.btn-start:hover .btn-content {
    background-color: #795ff6;
}

.btn-start:active .btn-content {
    color: #17181a;
}

/* . */
/* .container {
    background-color: gray;
} */







.image-data-1 {
    background-image: url(../img/image-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-2 {
    background-image: url(../img/image-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-3 {
    background-image: url(../img/image-3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-4 {
    background-image: url(../img/image-4.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-5 {
    background-image: url(../img/image-5.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-6 {
    background-image: url(../img/image-6.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-7 {
    background-image: url(../img/image-7.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-8 {
    background-image: url(../img/image-8.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-9 {
    background-image: url(../img/image-9.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-10 {
    background-image: url(../img/image-10.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-11 {
    background-image: url(../img/image-11.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-12 {
    background-image: url(../img/image-12.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-13 {
    background-image: url(../img/image-13.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-14 {
    background-image: url(../img/image-14.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-15 {
    background-image: url(../img/image-15.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-16 {
    background-image: url(../img/image-16.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-17 {
    background-image: url(../img/image-17.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-18 {
    background-image: url(../img/image-18.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-19 {
    background-image: url(../img/image-19.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-20 {
    background-image: url(../img/image-20.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-21 {
    background-image: url(../img/image-21.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-22 {
    background-image: url(../img/image-22.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-23 {
    background-image: url(../img/image-23.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-24 {
    background-image: url(../img/image-24.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-25 {
    background-image: url(../img/image-25.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-26 {
    background-image: url(../img/image-26.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-27 {
    background-image: url(../img/image-27.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-28 {
    background-image: url(../img/image-28.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-29 {
    background-image: url(../img/image-29.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-30 {
    background-image: url(../img/image-30.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-31 {
    background-image: url(../img/image-31png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-32 {
    background-image: url(../img/image-32.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-33 {
    background-image: url(../img/image-33.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-34 {
    background-image: url(../img/image-34.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-35 {
    background-image: url(../img/image-35.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-36 {
    background-image: url(../img/image-36.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-37 {
    background-image: url(../img/image-37.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-38 {
    background-image: url(../img/image-38.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-39 {
    background-image: url(../img/image-39.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-40 {
    background-image: url(../img/image-40.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-41 {
    background-image: url(../img/image-41.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-42 {
    background-image: url(../img/image-42.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-43 {
    background-image: url(../img/image-43.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-44 {
    background-image: url(../img/image-44.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-45 {
    background-image: url(../img/image-45.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-46 {
    background-image: url(../img/image-46.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-47 {
    background-image: url(../img/image-47.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-48 {
    background-image: url(../img/image-48.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-49 {
    background-image: url(../img/image-49.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-data-0 {
    background-image: url(../img/image-0.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* .active {
    background-image: none;
} */

/* .static {
    background-image: none;
} */



/* .fail {
    background-color: rgba(5, 3, 3, 0.5);
} */

